<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>

.table-container {
      overflow-x: auto;
      margin: auto;
      width: 95%;
    }

    table {
      width: 100%;
      border-collapse: collapse;
      margin-bottom: 20px;
      margin-left: 5%;
    }

    th, td {
      border: 1px solid #ddd;
      padding: 16px;
      text-align: left;
    }

    th {
      background-color: #f2f2f2;
    }

    table th{
      padding: 32px;
    }

    table td{
      padding: 16px;
    }
    
    @media only screen and (max-width: 600px) {
      

      th {
        text-align: center;
      }
    }


   
/* Center the loader */
#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 120px;
  height: 120px;
  margin: -76px 0 0 -76px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid blue;
  border-right: 16px solid green;
  border-bottom: 16px solid red;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 }
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom {
  from{ bottom:-100px; opacity:0 }
  to{ bottom:0; opacity:1 }
}

#myDiv {
  display: none;
  text-align: center;
}
</style>
    <title>E-CONTENT</title>
    <link rel="icon" href="econtent/Web03-1.JPG">
    <link rel="stylesheet" href="css/master.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
  <body onload="myFunction()" style="margin:0;" >
    <div id="loader"></div>
    <div style="display:none; margin-bottom: 56px;" id="myDiv" class="animate-bottom">
      <h1 class="append">APPENDIX G</h1>
      <p>Lesson Plan
      The teacher of experimental group will use e-content lesson plan to teach building construction selected topics;
      this will be based on e-content teaching strategy.</p>

      <p>
      Six sets of lesson plans will be used for a period of six weeks developed by the researcher to teach the conventional class.
      </p>
      <p>
      The researcher will put into consideration the age, class of students, the eighty (80) minutes duration, the specific objectives and their relation to the lesson topics in preparing the lesson plans.</p>
      <p>The lesson plans will be written based on multimedia e-content strategies which will follow the specific steps identified in the literature.</p>
      <button class="button" name="button"><a href="/appendix">  <i class="fa fa-home" style="font-size: 26px;"></i> </a></button>
      <p>Effort will also be made to bring in those strategies that differentiate e-content instructional strategies from convectional teaching methods. The subject teacher in the experimental group will apply this lesson plan at different stages of instructional process. While the teacher in the control group set will use the normal lesson plans prepared by the researcher building construction in the conventional lecture approach.<br><br>
      </p>
      <p>LESSON PLANS FOR TEACHING BUILDING CONSTRUCTION CONVENTIONAL METHOD
      </p>

      <div class="weekOne" style="margin-top: 30px;">
        <h1>WEEK ONE</h1>
  
      <h2>TOPIC: EXCAVATION</h2>
      <h2>CLASS: SS2</h2>
      <h2>DATE:</h2>
      <h2>DURATION: 80 MINUTES</h2>
      <h2>SPECIFIC INSTRUCTIONAL OBJECTIVES: At the end of the lesson, the students should be able to </h2>
  <div class="flood">
    <ol>
      <li>Identify the various types of soil.</li>
      <li>State the properties and characteristics of soil.</li>
      <li>Explain Excavation and its functions.</li>
      <li>Outline methods of Excavation and the various tools used for Excavation.</li>
      <li>Suggest solutions to Excavation problems.</li>
    </ol>
  </div>
  
  <h2>PREVIOUS KNOWLEDGE:  students have learnt the principle of excavation in SS1</h2>
  <h2>INSTRUCTIONAL MATERIALS: VIDEO TEXT AND COMPUTER</h2>
  <!-- <h2>Play Audio:</h2>
  <audio controls >
    <source src="econtent/week 1.mp3" />
  </audio>
  <br><br>
  <h2>Watch Video:</h2>
  <video src="econtent/EXCAVATION VIDEO.mp4" controls ></video> -->
  <p>Entry Behaviour: students have learnt the principle of excavation in ss1</p>
  <h2>Instructional Procedure: </h2>
  <div class="table-container">
  <table>
    <thead>
      <tr>
        <th>Step</th>
        <th>Contents</th>
        <th>Teacher’s activity</th>
        <th>Student’s activity</th>
        <th>Instructional materials</th>
        
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>Types of soil e.g. clay, sandy, silt etc </td>
        <td> Teacher identifies types of soil
        
        <td>Identify types of soil
          Through a film
          </td>
          <td>Video, samples of soils</td>
      </tr>
      <tr>
        <td>2</td>
        <td>Properties and classification of soil </td>
        <td> Provide soil samples for visual identification and classification</td>
        <td>State the properties and characteristics of soil</td>
        <td>Computer Text, audio and video</td>
      </tr>
      <tr>
        <td>3</td>
        <td>Definition and functions of excavation </td>
        <td>Define excavation as process of cutting down the ground for a particular possess</td>
        <td>Students repeat and define it in another ways</td>
        <td>Computer Text, audio and video</td>
      </tr>
  
      <tr>
        <td>4</td>
        <td>Methods and tools used in excavation <br>
  •	Manual diggers, Shovels, Head pans, etc
  Mechanical: Bull dozer, Drag line, etc
   </td>
        <td>Visit construction site to witness excavation process and nature of soil excavated.
  Select tools and excavate such as:
  Manual diggers, Shovels, Head pans, pick axe, spade <br>
  Mechanical: Bull dozer, Drag line, backeter
  </td>
        <td>Visit construction site.
  Select tools and excavate.
  </td>
  <td>Various pictures of both hand tools and Mechanical tools, Video</td>
      </tr>
  
      <tr>
        <td>5</td>
        <td>Evaluation
      </td>
        <td>Teacher asks the following questions: <br>
  •	List three types of soil and state their properties <br>
  •	Define excavation <br>
  •	Sketch tools used for excavation <br>
  
  
      </td>
        <td>Students listen and answer  questions accordingly
      </td>
      <td>Experimental teacher goes round the students</td>
      </tr>
  
      <tr>
        <td>6</td>
        <td>Assignment
      </td>
        <td>Teacher asks the students to draw two excavation plant and list problems associated to lose ground during excavation.
  
      </td>
        <td>Write down the questions and may ask teacher questions for more clarity.
      </td>
      </tr>
  
  
    </tbody>
  </table>
  </div>
  <br>
  <br>
  <br>
  
  </div>

 
  <div class="weekOne">
    <h1>WEEK TWO</h1>
    <h2>NAME OF SCHOOL:</h2>
    <h2>TOPIC: FOUNDATION</h2>
    <h2>CLASS: SS2</h2>
    <h2>DATE:</h2>
    <h2>DURATION: 80 MINUTES</h2>
    <h2>SPECIFIC INSTRUCTIONAL OBJECTIVES: At the end of the lesson, the students should be able to </h2>
    <div class="flood">
<ol>
  <li> Define foundation</li>
  <li>State  the purpose of foundation.</li>
  <li>Explain functional requirement of foundation.</li>
  <li>Describe the various types of foundation.</li>
  <li>Explain factors that determine choice of foundation.</li>
</ol>
</div>
<h2>PREVIOUS KNOWLEDGE: students have seen builders working on foundation around the school and at homes.</h2>
<h2>Instructional Materials: Models, sketches and diagrams of foundation, also video text and computer</h2>
<h2>Play Audio:</h2>
<audio controls>
  <source src="econtent/week 2.mp3" />
</audio>
<br><br>
<!-- <h2>Watch Video:</h2>
<video src="econtent/Video.mov" controls ></video>
<h2>Instructional Procedure: </h2> -->

<div class="table-container">
  <table>
    <thead>
      <tr>
        <th>Step</th>
        <th>Contents</th>
        <th>Teacher’s activity</th>
        <th>Student’s activity</th>
        <th>Instructional activities</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>Definitions and purpose of foundation</td>
        <td>Teacher defines foundation and explains the purpose of foundation.
  Foundation of a building is that part of the building that carries the total weight of the building without displacement
  </td>
        <td>Define foundation</td>
        <td>Audio, Computer Video and text</td>
      </tr>
      <tr>
        <td>2</td>
        <td>Functional requirement of foundation </td>
        <td> State the functional requirements of foundation</td>
        <td>State the functional requirements of foundation</td>
        <td>Computer Audio, video and text</td>
      </tr>
      <tr>
        <td>3</td>
        <td>Types of foundation e.g.  pad, strip, raft and pile</td>
        <td>Draw different types of foundation</td>
        <td>Students sketch different types of foundation</td>
        <td>Audio, video and text</td>
      </tr>
  
      <tr>
        <td>4</td>
        <td>Factors that determine choice of foundation
   </td>
        <td>List and explain factors that determine types of foundation and make model of each types of foundation
  </td>
        <td>Write all the factors explained by the teacher
  </td>
  <td>Audio and text</td>
      </tr>
  
      <tr>
        <td>5</td>
        <td>Evaluation
      </td>
        <td>Teacher ask students the following questions:<br>
  •	Define foundation <br>
  •	List and sketch two types of foundation <br>
  •	Explain two factors that determine choice of foundation <br>
  •	State four functional requirements of foundation <br>
  
  
      </td>
        <td>Students answer the questions as they were being pointed to and also complete their note.
      </td>
      <td>Text</td>
      </tr>
  
      <tr>
        <td>6</td>
        <td>Assignment
      </td>
        <td>students to read more on the topic as we continue next week.
  
      </td>
        <td>Students read more and form their notes.
      </td>
      <td>Watch the video again</td>
      </tr>
  
  
    </tbody>
  </table>
</div>

<div class="weekOne" style="margin-top: 30px;">
<h1>WEEK THREE</h1>
    <h2>NAME OF SCHOOL:</h2>
    <h2>TOPIC: GROUND FLOOR</h2>
    <h2>CLASS: SS2</h2>
    <h2>DATE:</h2>
    <h2>DURATION: 80 MINUTES</h2>
    <h2>SPECIFIC INSTRUCTIONAL OBJECTIVES: At the end of the lesson, the students should be able to </h2>
    <div class="flood">
<ol>
  <li>State the function of ground floor</li>
  <li>List types of ground floor.</li>
  <li>Explain functional requirement of ground floor.</li>
  <li>Sketch structure of a ground floor</li>
</ol>
</div>

<h2>PREVIOUS KNOWLEDGE: students have seen floor under construction.</h2>
<h2>Instructional Materials: Computer, Video text, charts, sketches, construction site film</h2>
<p>Instructional Procedure: </p>
</div>

<div class="table-container">
  <table>
    <thead>
      <tr>
        <th>Step</th>
        <th>Contents</th>
        <th>Teacher’s activity</th>
        <th>Student’s activity</th>
        <th>Instructional activities</th>
      </tr>
    </thead>
    <tbody>
      <tr>
  
      <tr>
        <td>1</td>
        <td>Function of ground floor </td>
        <td>Explains the functions and functional requirements of ground floor</td>
        <td>Explain the functions of ground floor</td>
        <td>Computer Pictures, audio, video</td>
      </tr>
      <td>2</td>
      <td>Types of ground floor (solid and suspended)</td>
      <td>Describe the types of floor
  </td>
      <td>State the types of ground floor</td>
      <td>Computer  Video</td>
    </tr>
      <tr>
        <td>3</td>
        <td>Functional requirement of ground floor</td>
        <td>Visit construction site and observe methods of laying solid ground floor</td>
        <td>Visit construction site to observe construction method</td>
        <td>Text and audio</td>
      </tr>
  
      <tr>
        <td>4</td>
        <td>Production of ground floor
   </td>
        <td>Sketch sections showing solid ground floor
  </td>
        <td>Sketches of sections showing solid ground floor
  </td>
  <td>Computer  Video</td>
      </tr>
  
      <tr>
        <td>5</td>
        <td>Evaluation
      </td>
        <td>Teacher ask students the following questions:<br>
  •	State three functions of ground floor<br>
  •	List two types of ground floor <br>
  •	State two functional requirements of ground floor <br>
  
  
      </td>
        <td>Students answer all the above questions and ask teacher to explain where there are not clear.
      </td>
      <td>Research assistant to monitor all the students as they answer the questions</td>
      </tr>
  
      <tr>
        <td>6</td>
        <td>Assignment
      </td>
        <td>Teacher give the students assignment on the topic just covered
  
      </td>
        <td>Students take home the assignment and returns with the solution for marking by the teacher
      </td>
      </tr>
  
  
    </tbody>
  </table>
</div>


<div class="weekOne">
  <h1>WEEK FOUR</h1>
  <h2>NAME OF SCHOOL:</h2>
  <h2>TOPIC: MATERIALS FOR CONCRETE</h2>
  <h2>CLASS: SS2</h2>
  <h2>DATE:</h2>
  <h2>DURATION: 80 MINUTES</h2>
  <h2>SPECIFIC INSTRUCTIONAL OBJECTIVES: At the end of the lesson, the students should be able to </h2>
  <div class="flood">
<ol>
<li>Define concrete</li>
<li>Identify materials for concrete</li>
<li>Explain concreting operations</li>
<li>State the uses of reinforcement in concrete</li>
</ol>
</div>

<h2>PREVIOUS KNOWLEDGE: students have seen mansion working with concrete</h2>
<h2>Instructional Materials: Computer, Charts, text book, pictures, gravel, sand</h2>
<h2>Play Audio:</h2>
  <audio controls>
    <source src="econtent/week 4.mp3" />
  </audio>
  <br><br>
</div>
<div class="table-container">
  <table>
    <thead>
      <tr>
        <th>Step</th>
        <th>Contents</th>
        <th>Teacher’s activity</th>
        <th>Student’s activity</th>
        <th>Instructional activities</th>
      </tr>
    </thead>
    <tbody>
      <tr>

      <tr>
        <td>1</td>
        <td>Definition of concrete </td>
        <td>Defines  concrete</td>
        <td>State materials for concrete</td>
        <td>Computer Audio, text</td>
      </tr>
      <td>2</td>
      <td>Materials for concrete</td>
      <td>Explains materials for concrete. E.g. cement, sand and gravel, water
  </td>
      <td>List various materials for concrete work</td>
      <td>Pictures, Computer Video</td>
    </tr>
      <tr>
        <td>3</td>
        <td>Uses of reinforcement</td>
        <td>State the uses of reinforcement in concrete
</td>
        <td>State the uses of  reinforcement
          Visit sites where concrete materials are deposited
          
</td>
<td>Text, Computer Video</td>
      </tr>

      <tr>
        <td>4</td>
        <td>Evaluation
   </td>
        <td>Tests are carried out on fresh concrete and harden concrete to determine <br>
          I.	Teacher to ask students questions : <br>
          List three materials for concrete <br>
          State two uses of reinforcement
          <br>

  </td>

  <td>Students to respond to all the question in the class and also as an  assignment</td>
  <td>Research assistant to move round the students</td>
      </tr>

     

      <tr>
        <td>5</td>
        <td>Assignment
      </td>
        <td>Students to answer all the stated question above

      </td>
        <td>Students to work on the assignment and submit same to the teacher as directed
      </td>
      </tr>


    </tbody>
  </table>
</div>
    </div>


    <div class="weekOne">
      <h1>WEEK FIVE</h1>
      <h2>NAME OF SCHOOL:</h2>
      <h2>TOPIC: MATERIALS FOR CONCRETE(contd.)</h2>
      <h2>CLASS: SS2</h2>
      <h2>DATE:</h2>
      <h2>DURATION: 80 MINUTES</h2>
      <h2>SPECIFIC INSTRUCTIONAL OBJECTIVES: At the end of the lesson, the students should be able to </h2>
  <div class="flood">
  <ol>
    <li>List cement manufacturing processes </li>
    <li>Explain components of cement</li>
    <li>Describe the uses of cement</li>
    <li>Explain properties of cements and its roles in concretes (binder)</li>
  </ol>
  </div>
  
  <h2>PREVIOUS KNOWLEDGE:students have seen bags of cement before</h2>
  <h2>Instructional Materials: Computer,video text, charts, pictures, cement</h2>
 <p>Instructional Procedure:</p>

 <div class="table-container">
  <table>
    <thead>
      <tr>
        <th>Step</th>
        <th>Contents</th>
        <th>Teacher’s activity</th>
        <th>Student’s activity</th>
        <th>Instructional activities</th>
      </tr>
    </thead>
    <tbody>
      <tr>
  
      <tr>
        <td>1</td>
        <td>Definition of cement </td>
        <td>Define cement </td>
        <td>Listen, take notes and ask questions</td>
        <td>Computer, video, text</td>
      </tr>
      <td>2</td>
      <td>Components of cement</td>
      <td> Explain components of cements
  </td>
      <td></td>
      <td>Video</td>
    </tr>
      <tr>
        <td>3</td>
        <td>Uses of cement</td>
        <td>Describe where it is used
  </td>
        <td>
  </td>
  <td>Text, audio and video</td>
      </tr>
  
      <tr>
        <td>4</td>
        <td>Properties of cement
   </td>
        <td>Explain properties of cement
  </td>
  <td>Video text</td>
  
      </tr>
  
      <tr>
        <td>5</td>
        <td>Evaluation
      </td>
        <td>
          Teacher ask questions , and allowed the students to answer one after the other <br>
  •	List and explain the component of cement <br>
  •	Explain two properties of cement
  
  
      </td>
        <td>Students respond to the questions and may ask their own questions
      </td>
      <td>Research assistant</td>
      </tr>
  
      <tr>
        <td>6</td>
        <td>Assignment
      </td>
        <td>Teacher asks the students to draw a neat diagram showing ground floor and label all the important part.
  
      </td>
        <td>
      </tr>
  
  
    </tbody>
  </table>
 </div>

 <br>
 <br>
 <br>
 <button class="bttn" type="button" name="button"><a href="/appendix"> <i class="fa fa-chevron-left"></i> Prev  </i></a></button>
  <button class="btnn" type="button" name="button"><a href="/weekone">   Next <i class="fa fa-chevron-right"></i></a></button>

  </div>
  
    </div>

    


<script>
var myVar;

function myFunction() {
  myVar = setTimeout(showPage, 3000);
}

function showPage() {
  document.getElementById("loader").style.display = "none";
  document.getElementById("myDiv").style.display = "block";
}
</script>

  </body>




</html>
