<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>E-CONTENT</title>
    <link rel="icon" href="econtent/Web03-1.JPG">
    <link rel="stylesheet" href="css/master.css">
  </head>
  <body class="paraf">
    <h1 class="append">APPENDIX F</h1>
    <p>Lesson Plan
	The teacher of experimental group will use e-content lesson plan to teach building construction selected topics;
  this will be based on e-content teaching strategy.</p>

  <p>
Six sets of lesson plans will be used for a period of six weeks developed by the researcher to teach the conventional class.
  </p>
<p>
   The researcher will put into consideration the age, class of students, the eighty (80) minutes duration, the specific objectives and their relation to the lesson topics in preparing the lesson plans.</p>
<p>The lesson plans will be written based on multimedia e-content strategies which will follow the specific steps identified in the literature.</p>
<button class="button" name="button"><a href="/appendix">Home</a></button>
<p>Effort will also be made to bring in those strategies that differentiate e-content instructional strategies from convectional teaching methods. The subject teacher in the experimental group will apply this lesson plan at different stages of instructional process. While the teacher in the control group set will use the normal lesson plans prepared by the researcher building construction in the conventional lecture approach.<br><br>
</p>
<p>LESSON PLANS FOR TEACHING BUILDING CONSTRUCTION CONVENTIONAL METHOD
</p>

<button class="bttn" type="button" name="button"><a href="/appendix">Prev</a></button>
<button class="btnn" type="button" name="button"><a href="/weekone">Next</a></button>
  </body>




</html>
