<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>E-Content</title>
    <link rel="icon" href="econtent/Web03-1.JPG">
    <link rel="stylesheet" href="css/styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>
    <div class="one" id="big>
      <div class="two">
        <div class="threee">
              <img class="ade" src="econtent/Web03-1.JPG" alt="logo">

        </div>
        <div class="four">
          <center>
        <h1 id="fool">E-CONTENT ON BUILDING CONSTRUCTION FOR SENIOR SECONDARY SCHOOL</h1>
        <h3>Enter Passcode</h3>
        <div class="five">
          <form class="passcode" action="/" method="post">
            <input placeholder="Enter access key" name="input" type="password" id="input" class="input"><br>
            <label for="input" id="label" class="label">Wrong password</label>
            <button type="submit" class="btn" id="btn" name="button" >Submit</button>
          </form>
          <a href="https://wa.me/+2348062415077"><p>Request Passcode from  <i class="fa fa-whatsapp"  style="font-size:16px"></i></p></a>
         <a class="error" href="#input">Pls enter correct key</a>
        </div>
        </div>
        </center>
      </div>
    </div>
    <script src="index.js" charset="utf-8"></script>
  </body>






</html>
