<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
  /* Center the loader */
  #loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 120px;
  height: 120px;
  margin: -76px 0 0 -76px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid blue;
  border-right: 16px solid green;
  border-bottom: 16px solid red;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  }

  @-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
  }

  @keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
  }

  /* Add animation to "page content" */
  .animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
  }

  @-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 }
  to { bottom:0px; opacity:1 }
  }

  @keyframes animatebottom {
  from{ bottom:-100px; opacity:0 }
  to{ bottom:0; opacity:1 }
  }

  #myDiv {
  display: none;
  text-align: center;
  }
  </style>
    <title>E-Content</title>
    <link rel="stylesheet" href="css/master.css">
    <link rel="icon" href="econtent/Web03-1.JPG">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body onload="myFunction()"  >
    <div id="loader"></div>
      <div style="display:none;" id="myDiv" class="animate-bottom">
      <div class="weekOne">
      <h1>WEEK FOUR</h1>
      <h2>NAME OF SCHOOL:</h2>
      <h2>TOPIC: MATERIALS FOR CONCRETE</h2>
      <h2>CLASS: SS2</h2>
      <h2>DATE:</h2>
      <h2>DURATION: 80 MINUTES</h2>
      <h2>SPECIFIC INSTRUCTIONAL OBJECTIVES: At the end of the lesson, the students should be able to </h2>
      <div class="flood">
  <ol>
    <li>Define concrete</li>
    <li>Identify materials for concrete</li>
    <li>Explain concreting operations</li>
    <li>State the uses of reinforcement in concrete</li>
  </ol>
</div>

  <h2>PREVIOUS KNOWLEDGE: students have seen mansion working with concrete</h2>
  <h2>Instructional Materials: Computer, Charts, text book, pictures, gravel, sand</h2>
  <h2>Play Audio:</h2>
  <audio controls>
    <source src="econtent/week 4.mp3" />
  </audio>

  <br><br>
  <h2>Watch Video:</h2>
   <video src="/econtent/week-4-vid.MOV" controls></video>
  <h2>Instructional Procedure: </h2>
  <!-- <table>
    <thead>
      <tr>
        <th>Step</th>
        <th>Contents</th>
        <th>Teacher’s activity</th>
        <th>Student’s activity</th>
      </tr>
    </thead>
    <tbody>
      <tr>

      <tr>
        <td>1</td>
        <td>Definition of concrete </td>
        <td>Defines  concrete</td>
        <td>State materials for concrete</td>
      </tr>
      <td>2</td>
      <td>Materials for concrete</td>
      <td>Explains materials for concrete. E.g. cement, sand and gravel, water
  </td>
      <td>List various materials for concrete work</td>
    </tr>
      <tr>
        <td>3</td>
        <td>Concreting operations</td>
        <td>List in sequence concrete operations:<br>
1.	Batching <br>
2.	Mixing (Manual & Mechanical) <br>
3.	Transporting (manual & Mechanical) <br>
4.	Placing <br>
5.	Compacting <br>
6.	Curing (methods used) <br>
</td>
        <td>State the uses of  reinforcement
Visit sites where concrete materials are deposited
</td>
      </tr>

      <tr>
        <td>4</td>
        <td>Concreting operations
Test on concrete
   </td>
        <td>Tests are carried out on fresh concrete and harden concrete to determine <br>
          I.	Water content in a wet concrete <br>
II.	Workability of the concrete (slum test) <br>
III.	Strength of a hardened concrete (cube test) <br>

  </td>

  </td>
      </tr>

      <tr>
        <td>5</td>
        <td>Evaluation
      </td>
        <td>
  Teacher to ask students questions : <br>
	• List three materials for concrete <br>
	• State two uses of reinforcement



      </td>
        <td>Students to respond to all the question in the class and also as an  assignment
      </td>
      </tr>

      <tr>
        <td>6</td>
        <td>Assignment
      </td>
        <td>Students to answer all the stated question above

      </td>
        <td>Students to work on the assignment and submit same to the teacher as directed
      </td>
      </tr>


    </tbody>
  </table> -->


  <h4>DEFINITION OF CONCRETE MATERIALS:</h4>
  <h4 style="text-align: left">CEMENT</h4>
  <p>Cement is the chemical material that bonds the aggregates together to form a solid material.<br>
  There are many types of cement available for construction work but the commonly available type is the ORDINARY PORTLAND CEMENT [OPC] is manufactured from chalk and clay.
  The process of manufacturing consist of the lime stone and clay mixing and grinding them in a special wet or dry mill, burning the mixture and finally grinding in the dry mill and bagging or storing into silos  others are:
  <br>{1}Rapid Harding Portland cement: The cement powder is more finely than OPC. The effects of the finer ground are that the constituent of the cement powered reacts more quickly with water. It also develops strength more rapidly. It is used where greater strength is needed in construction.
  <br>{2} Extra Rapid Hardening Portland Cement: The rate of hardened of this cement is increased as adding an accelerator e.g. Calcium Chloride to harden the cement.
  <br>{3} Low Heat Portland Cement: This cement is of modified composition to give a low rate of heat solution. It’s made for mass concrete works in dams and other longer construction.
  <br>{4} Sulphate Resisting Portland Cement: This is modified Portland cement with improved resistance to the chemical attack by sulphate. It can cause soften and considerable expansion of cement based materials.
  <br> {5} White Portland Cement: This is used to produce white cement finishes; it’s mainly used for the surface of exposed concrete and for cement rendering. Pigment may be added the cement to provide paste colour.
  <br>{6} Blast Furnace Portland Cement: This cement developed heat more slowly than ordinary Portland cement and is used also for mass concrete work as allow heat cement. It has resistance to the destructive effect of sulphates and is commonly used in marine work.
  </p>
  <p>
  <img src="econtent\week 5 img1.jpg" alt="diagram">

  <b  style="color: blue">Summary of production process</b><br><br><br><br>
  Cement is typically made from limestone and clay or shale. These raw materials are extracted from the quarry crushed to a very fine powder and then blended in the correct proportions.
  This blended raw material is called the 'raw feed' or 'kiln feed' and is heated in a rotary kiln where it reaches a temperature of about 1400 C to 1500 C. In its simplest form, the rotary kiln is a tube up to 200 metres long and perhaps 6 metres in diameter, with a long flame at one end. The raw feed enters the kiln at the cool end and gradually passes down to the hot end, then falls out of the kiln and cools down.
  The material formed in the kiln is described as 'clinker' and is typically composed of rounded nodules between 1mm and 25mm across.
  After cooling, the clinker may be stored temporarily in a clinker store, or it may pass directly to the cement mill.
  the cement mill grinds the clinker to a fine powder. A small amount of gypsum - a form of calcium sulphate - is normally ground up with the clinker. The gypsum controls the setting properties of the cement when water is added.
  </p>

  <p>

  <img src="econtent\week 5 img01.png" alt="diagram"> <br>
  <b>The basic components of the cement production process.</b> <br> <br>

  The following pages (see links below) have more detail on each of the different stages of cement production. Also, see the 'Clinker ' pages for information on raw materials, the chemical reactions in the kiln, cement clinker and cement chemistry.
  <br></p>


  <h4>CONCRETING OPERATIONS;</h4>
  <p> <br>
  {a}Batching: Is the system by which concrete material are proportioned in the ratio of the mix. It can be carried out by {i} weight and {ii} volume.
  Batching by weight is carried out by using weighting machine and batching by volume is carried out by using gauge box, head pan, wheel barrows est.
  <br>{b} Mixing: Is the through exercise carried out in order to produce concrete of uniform consistency. It can be done by: {i} Hand {ii} Machine {mixing machine}
  <br> {c} Transporting concrete: This is the system by which mixed concrete is moved from the point of mix to the point of placing on site. The method to be used depend on the type of job, nature of the site, height of which concrete is to be placed and case of transporting the concrete.
  <br>The method includes:
  <br>i.	Manual transportation: Using of head pan, bucket, wheel barrow and other containers.
  <br>ii)         By mechanical means e.g. dumpers, crane belt, conveyor, pumps, powered barrow, twist fork-lifts, trucks mixer or mobile dumper.
  <br>[d] Placing; this is done by putting the concrete in position. These include casting of concrete into beams, columns slabs, foundation etc. Concrete must be placed before 30 minutes after mixing.
  <br>{e} Compaction: is done to reduce voids or air pockets in the concrete, it’s done, during placement by manual means or by mechanical means.
  <br>	There are two method of compaction
  <br>a)	Hand compaction: this is done by using wood or metal rammers to ram the concrete down to achieve a dense hard concrete
  <br>b)	MACHINE COMPACTION: In job of importance machine vibrators are used to compact or vibrate concrete, there are two types of concrete vibrators.
  <br>i)	Internal vibrators {poker} or immersion vibrators. They are inserted into the concrete directly.
  <br>ii)	External vibrator- they are clamped to the form-work during vibration.
  <br>{f} Curing: After placement, for the concrete to gain maximum strength it need water therefore curing is the operation of providing moisture and favourable temperature to allow for increase in strength, durable and resistant. Curing prevent evaporation of water from concrete
  <br>	<b>Method of curing:</b>
  <br> a)	Covering the surface of the concrete with wet sand or saw dust
  <br> b)	Covering with wet sacks/ blankets
  <br> c)	Covering with water proof sheets.
  <br> d)	Curing chemical should be used after placement
  <br> e)	Cover the concrete with non-absolvent materials such as plastics
  <br> f)	Sprinkling/pouring  water daily on the concrete

  Method of transporting fresh concrete with a wheel barrow:
  <br>•	Boards and plank are lay along the way from the place of mix to the part of placing
  <br>•	The internal wheel barrow is wet with water
  <br>•	Fill the wheel barrow with the concrete
  <br>•	Wheel the concrete over the boards
  <br>•	Ensure that the chute is wetted before pouring concrete
  <br>•	Deposit the concrete into the chute
  <br>•	Hovel the concrete into the foundation trench
  </p>
  <h4>TYPES OF CONCRETE</h4> <p> <br>
  1)	<b>Mass concrete:</b> Mass concrete is a concrete without reinforcement. It is strong in compression and weak in tension.
  <br> 2)	<b>Reinforced concrete:</b> It is a concrete with reinforcement bars to cater for the weakness in tension of mass concrete
  <br>
  <b>TYPES OF BARS:</b> <br>  Bars used are mild or plain bars and high tensile or twisted bars
  High tensile bars are stronger than mild bars; hence they are used for main reinforcement while plain bars are used as secondary reinforcement.


    <img src="econtent\week 5 img2.jpg" alt="diagram"> <br>
  Section thro’ mass concrete---section thro’ reinforced concrete <br>

  <br>3)	In-situ concrete:  concrete that is casted in the place where it is needed e.g. reinforced concrete beam, lintel, pillars & column and foundation in building
  <br>4)	Precast concrete: This is a concrete prepared in a factory or workshop and transported or carried to a place of placement or needed e.g. concrete for fabricated buildings, fly over’s in roads construction, concrete electrical poles, covets for roads, drainage  in road construction
  <br> <br> <b>Merit of precast concrete:</b>
  <br>i.	It is stronger than in-situ concrete
  <br>ii.	It is properly cured under factory condition <br>
  iii.	It does not crack easily <br>
  iv.	They are easily transported <br> <br>
  <b>Demerits:</b>
  <br>i.	It is very costly to produce because of the condition of preparation
  <br>ii.	It needs experienced skilled workers
  <br>iii.	It requires long time for production <br>
  iv.	It requires transportation to the point of placing. <br>  <br>
  <b>Merits of In-situ concrete {concrete cast in the site}</b> <br>
  i.	It is cheap or not costly to produce <br>
  ii.	It does not require skilled labourers <br>
  iii.	It is easily cast in the site <br>
  iv.	It does not require transportation. <br> <br>

  <b>Demerits:</b> <br>
  <br>i.	It is not strong like precast concrete <br>
  ii.	It is not cured in an ideal condition <br>
  iii.	They are produced in large span <br>
  iv.	In-situ concrete are subjected by shares { little cracks} <br>
  </p>


  <h4>PRESTRESSED CONCRETE:</h4> <p>
  <br>	Prestressed concrete is a concrete where high tensile wires or strands are used instead of steel to produce suitable compressive stress in the concretes. Prestressed concrete is permanently under compression and free from cracks under loading
  <br>	There are two methods of prestressing concrete <br>
  1.	Pre-tensioning or long-live system: In this method the wire are stressed first, the concrete cast, the concrete is adhered to set and hardened sufficiently and the wires are cut, The concrete is vibrated with mechanical means and set out for curing
  <br>2.	Post- tensioning: The concrete is cast first with dutch or hole provided to permit the passage of steel wires and stressed the dutch holes are granted with cement paste for the wires to bind with the concrete.
  <br>3.	The following methods are adopted for compacting the concrete:<br>
  a.	Hand Compactionbr <br>
  i.	Rodding <br>
  ii.	Ramming <br>
  iii.	Tamping <br>
  b.	Compaction by Vibration <br>
  i.	Internal vibrator (Needle vibrator) <br>
  ii.	Formwork vibrator (External vibrator) <br>
  iii.	Table vibrator <br>
  iv.	Platform vibrator  <br>
  v.	Surface vibrator (Screed vibrator)  <br>
  vi.	Vibratory Roller  <br>
  c.	Compaction by Pressure and Jolting  <br>
  d.	Compaction by Spinning. <br>
  <br>


  <img src="econtent\week 5 img3.jpg" alt="diagram"> <br>
  <img src="econtent\week 5 img4.jpg" alt="diagram"> <br>
  Safety precaution and personal protection <br>
  •	The site must be neat avoid wood on the ground <br>
  •	Qualifies hand should be available <br>
  •	Care use of cement and its products <br>
  •	Mix concrete well to avoid segregation <br>
  •	Protect skin from cement and cement mixtures, workers should wear alkali resistant gloves <br>
  •	<br>Coveralls with long sleeves and full length trousers ( pull sleeves down over gloves and tuck pants inside boots and duct-tape at the top to keep mortar and concrete out)
  •	<br>Water proof boots high enough to prevent concrete from flowing in when workers must stand in fresh concrete
  •	<br>Suitable respiratory protective equipment such as a P,N or R95 respiratory where cement dust can’t be avoided
  •	<br>Suitable eye protective where mixing, pouring, or other activities may endanger eyes (minimum safety glasses with side shields or goggles) wide extremely dusty conditions light-falling inverted lenses when handling cement or cement products.
  <br> <br> <b>Hazardous effect of materials</b>  <br>
  1.	Cement can cause ill health by skin contact, eyes contact or inhalation  <br>
  2.	Severe cause often occur when personal protective clothing or equipment is worn out <br>
  3.	Cement dust released during bag dumping or concrete cutting can also irritate the skin  <br>
  4.	Moisture from sweat or wet clothing reacts with the cement dust to form a caustic solution  <br>
  5.	Allergic skin reaction  <br>
  6.	Exposure to airborne dust may cause immediate or delayed irritation of the eyes  <br>
  7.	Inhalation high level of dust may occur when workers empty bags of cement, in the short term, such exposure irritate the nose and throat and causes chocking and difficult breathing

  </p>



  <img src="econtent\week 5 img5.jpg" alt="diagram"> <br> <br>
  <div class="flood">
  <h2>Exercise:</h2>
<p>1.	List and explain the component of cement <br>
2.	Explain two properties of cement List and explain the two method of compaction. <br>
3.	Explain the hazardous effects of cements. <br>
4.	List and explain the component of cement and their proportion.</p> </div><br> <br><br><br> <br>
<br>

<button class="button" name="button"><a href="/appendix">  <i class="fa fa-home" style="font-size: 26px;"></i> </a></button>








<button class="bttn" type="button" name="button"><a href="/weekthree"> <i class="fa fa-chevron-left"></i> Prev  </i></a></button>
<button class="btnn" type="button" name="button"><a href="/weekfive">   Next <i class="fa fa-chevron-right"></i></a></button>
</div>
</div>




<script>
    var myVar;

    function myFunction() {
      myVar = setTimeout(showPage, 3000);
    }

    function showPage() {
      document.getElementById("loader").style.display = "none";
      document.getElementById("myDiv").style.display = "block";
    }
    </script>

  </body>
</html>
