<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>E-Content</title>
    <link rel="stylesheet" href="css/master.css">
    <link rel="icon" href="econtent/Web03-1.JPG">
  </head>
  <body>
    <div class="weekOne">
    <h1>WEEK THREE</h1>
    <h2>NAME OF SCHOOL:</h2>
    <h2>TOPIC: GROUND FLOOR</h2>
    <h2>CLASS: SS2</h2>
    <h2>DATE:</h2>
    <h2>DURATION: 80 MINUTES</h2>
    <h2>SPECIFIC INSTRUCTIONAL OBJECTIVES: At the end of the lesson, the students should be able to </h2>
    <div class="flood">
<ol>
  <li>State the function of ground floor</li>
  <li>List types of ground floor.</li>
  <li>Explain functional requirement of ground floor.</li>
  <li>Sketch structure of a ground floor</li>
</ol>
</div>

<h2>PREVIOUS KNOWLEDGE: students have seen floor under construction.</h2>
<h2>Instructional Materials: Computer, Video text, charts, sketches, construction site</h2>
<h2>Play Audio:</h2>
<audio controls>
  <source src="econtent/GROUND FLOOR 2.m4a" />
</audio>
<br><br>
<h2>Watch Video:</h2>
<video src="econtent/FLOOR CONSTRUCTION VIDEO.mp4" height="300"controls ></video>
<h2>Instructional Procedure: </h2>


<!-- <table>
  <thead>
    <tr>
      <th>Step</th>
      <th>Contents</th>
      <th>Teacher’s activity</th>
      <th>Student’s activity</th>
    </tr>
  </thead>
  <tbody>
    <tr>

    <tr>
      <td>1</td>
      <td>Function of ground floor </td>
      <td>Explains the functions and functional requirements of ground floor</td>
      <td>Explain the functions of ground floor</td>
    </tr>
    <td>2</td>
    <td>Types of ground floor (solid and suspended)</td>
    <td>Describe the types of floor
</td>
    <td>State the types of ground floor</td>
  </tr>
    <tr>
      <td>3</td>
      <td>Functional requirement of ground floor</td>
      <td>Visit construction site and observe methods of laying solid ground floor</td>
      <td>Visit construction site to observe construction method</td>
    </tr>

    <tr>
      <td>4</td>
      <td>Production of ground floor
 </td>
      <td>Sketch sections showing solid ground floor
</td>
      <td>Sketches of sections showing solid ground floor
</td>
    </tr>

    <tr>
      <td>5</td>
      <td>Evaluation
    </td>
      <td>Teacher ask students the following questions:<br>
•	State three functions of ground floor<br>
•	List two types of ground floor <br>
•	State two functional requirements of ground floor <br>


    </td>
      <td>Students answer all the above questions and ask teacher to explain where there are not clear.
    </td>
    </tr>

    <tr>
      <td>6</td>
      <td>Assignment
    </td>
      <td>Teacher give the students assignment on the topic just covered

    </td>
      <td>Students take home the assignment and returns with the solution for marking by the teacher
    </td>
    </tr>


  </tbody>
</table> -->

<section>
  <h4>DEFINITION FLOOR CONSTRUCTION</h4>
	<p>Floor is generally referred to as the structural part of the horizontal supporting element of a building which prevents the surface from wearing.  This support at the ground levels is generally concrete slab resting directly on the ground and covers the entire foundation wall.
</p> <h4>TYPES OF FLOOR:</h4> <p>a)	Solid floor/hollow floor {e.g. reinforced concrete; mass concrete; ground}<br>
b)	Ground floor { mass concrete, suspended timber ground floor} <br>
c)	Suspended floor {reinforced concrete, wooden, hollow block/ concrete floor} <br>
</p><p><br> <b>	Concrete: </b>is a mixture of aggregates {coarse and fine} cement or matrix, and predetermined proportion of water.
Coarse aggregates are those that are big enough to be retained on a sieve 74.7mm while fine aggregates are those that pass through sieve.
	Coarse aggregates used in concrete work include, gravel, crushed stones, crushed rocks, natural stones and light weight aggregates such as slag pumice burnt clay etc.
<b>Two types of concrete:</b> <br>
a)	Mass concrete always of ration 1:3:6 { one head pan of cement to three head pan of gravel and six head pan of sand and water enough to make it plasticity}
<br>b)	Reinforced concrete of ration 1:2:4 {One ratio of cement to two ratio of gravel and four ratio of sand with enough water}
</p>

<center>
  <h4>Concrete</h2>
  <hr>
  <p><b>Aggregate ------------- Cement --------------- Water</b></p>
  <p>|<br>
     |
  </p>

  <b><p>Coarse gravel ------ Fine/sharp</p>
  <p>Crushed slab	--		Sand fine particles</p></b>
</center>

 <h4>Functional Requirements</h4>
<p>The primary functions of floors are to:<br>

• Provide a level surface with sufficient strength to support the imposed loads of people and furniture. <br>
• Exclude the passage of water and water vapour to the interior of the building. <br>
• provide resistance to unacceptable heat loss through the floor <br>
• Provide the correct type of surface to receive the chosen finish. <br>
• be reasonably durable. <br> </p>
<p><b>Categories of Floors</b></p>
<p>There are basically three types of floors widely used in the building industry, these are: <br>
• Solid Ground Floors <br>
• Suspended Timber Ground Floors <br>
• Precast Concrete Floors <br> </p>
<p><b>Solid Ground Floors</b></p>
<p>A domestic solid ground floor consists of three components:- <br>
1.Hardcore <br>
2.Damp Proof Membrane <br>
3.Concrete Bed <br> </p>
<p><b>Hardcore</b></p>
<p>This should be a suitable filling material to make up the topsoil removal and reduced level excavations. It should have a top surface, which can be rolled out to ensure that cement grout is not lost from the concrete. It may be necessary to blind the top surface with a layer of sand or fine ash especially if the damp proof membrane is to be placed under the concrete bed.
</p>

<p>
This is an impervious layer such as heavy-duty polythene sheeting that is used to prevent moisture passing through the floor to the interior of the building. Other materials are,
<br>• Cold/hot poured bitumen,
<br>• Rubber solutions, and
<br>• Asphalt or pitch mastic.</p>
<p><b>Concrete Bed</b></p>
<p>This is the component providing the solid level surface to which screeds and finishes can be applied. The thicknesses that are generally specified are:
<br>• Plain in-situ concrete (no reinforcement) 100-150mm thick
<br> • Reinforced concrete, 150 mm minimum.</p>
<h4>TYPES OF GROUND FLOOR</h4>
	<p><b>The solid ground floor:</b><br>
It is the first part above the hard core provided to carry the loading. The floor may be constructed of solid concrete floor slab it’s usually made of mass concrete filled into formworks made on top of hardcore. The thickness of the ground floor should be at least 100mm thick and should be as thick as 310 mm in floor.
</p>
<p>
Materials for hardcore <br>
a)	Broken blocks /bricks <br>
b)	Demolished building waste <br>
c)	Waste concrete <br>
d)	Stones / gravel <br>

<img src="econtent\Week 3 img 1.jpg" alt="diagram">
</p>
<p><b>SUSPENDED FLOOR:</b> used on swamp areas the floor is suspended in order not to touch the floor to avoid moisture transferred to the floor.
</p>
<p>

  <img src="econtent\Week 3 img 2.jpg" alt="diagram">
  <img src="econtent\Week 3 img 3.jpg" alt="diagram">
<b>Suspended Timber Ground Floor</b> <br>
This type of floor consists of timber boards or other suitable sheet material fixed to joists spanning over sleeper walls. They are:
<br>• Susceptible to dry rot (a fungus that attacks damp timber).
<br>• Adequate ventilation under the floor coupled with damp proof courses at an appropriate position will control or alleviate this problem.
<br>• The use of airbricks is employed to allow for ventilation and should be spaced at 2 m centre around the perimeter of the building.

</p>

<p> <b> Concrete Floors </b> <br>
The over site should not be less than 100mm thick although it is often 150 mm thick. The mix of concrete should be at least 1:3:6 with a maximum size of coarse aggregates of 38 mm, but a mix of 1:2:4 is to be preferred incorporating coarse aggregates with a maximum size of 19 mm .the concrete mix of 50 kg of cement to not more than 0.11 m3 of fine aggregates and 0.16 m3 of coarse aggregates. It should be noted that the edges of the slab are not to be built into the surrounding walls to allow the two elements with their differing loads to move independently of one another.
</p>


<p>
  <b>
    Functional requirement of Suspended floor:
  </b><button class="button" name="button"><a href="/appendix">Home</a></button>
  <br>
  a)	Strength and stability <br>
  b)	Fire resistance <br>
  c)	Sound insulation <br>
  d)	Thermal insulation <br>
  e)	Water tightness <br>
  f)	Durability <br>
</p>

<br>
<div class="flood">
<h2>Exercise:</h2>
<p>1.	State three functions of ground floor. <br>
2.	List two types of ground floor. <br>
3.	State two functional requirements of ground floor. <br>
4.	List five difference between suspended floor and concrete floor. 	<br>
5.	List four Functional requirement for suspended floor	<br>

</p> </div><br>


</section>

<button class="bttn" type="button" name="button"><a href="/weektwo">Prev</a></button>
<button class="btnn" type="button" name="button"><a href="/weekfour">Next</a></button>
</div>
  </body>
</html>
