<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>E-Content</title>
  <link rel="stylesheet" href="css/master.css">
  <link rel="icon" href="econtent/Web03-1.JPG">
</head>
<body>
  <body>
    <h1>WEEK FIVE</h1>
    <h2>NAME OF SCHOOL:</h2>
    <h2>TOPIC: MATERIALS FOR CONCRETE(contd.)</h2>
    <h2>CLASS: SS2</h2>
    <h2>DATE:</h2>
    <h2>DURATION: 80 MINUTES</h2>
    <h2>SPECIFIC INSTRUCTIONAL OBJECTIVES: At the end of the lesson, the students should be able to </h2>
<ol>
  <li>List cement manufacturing processes </li>
  <li>Explain components of cement</li>
  <li>Describe the uses of cement</li>
  <li>Explain properties of cements and its roles in concretes (binder)</li>
</ol>

<h2>PREVIOUS KNOWLEDGE:students have seen bags of cement before</h2>
<h2>Instructional Materials: Computer,video text, charts, pictures, cement</h2>
<h2>Play Audio:</h2>
<audio controls>
  <source src="econtent/MATERIAL FOR CONCRETE CONTD2.m4a" />
</audio>
<h2>Instructional Procedure: </h2>
<!-- <table>
  <thead>
    <tr>
      <th>Step</th>
      <th>Contents</th>
      <th>Teacher’s activity</th>
      <th>Student’s activity</th>
    </tr>
  </thead>
  <tbody>
    <tr>

    <tr>
      <td>1</td>
      <td>Definition of cement </td>
      <td>Define cement: Cement is the chemical material that bonds the aggregates together to form a solid material. </td>
      <td>Listen, take notes and ask questions</td>
    </tr>
    <td>2</td>
    <td>Components of cement</td>
    <td> Explain components of cements
</td>
    <td></td>
  </tr>
    <tr>
      <td>3</td>
      <td>Uses of cement</td>
      <td>Describe where it is used
</td>
      <td>
</td>
    </tr>

    <tr>
      <td>4</td>
      <td>Properties of cement
 </td>
      <td>Explain properties of cement

</td>

</td>
    </tr>

    <tr>
      <td>5</td>
      <td>Evaluation
    </td>
      <td>
        Teacher ask questions , and allowed the students to answer one after the other <br>
•	List and explain the component of cement <br>
•	Explain two properties of cement


    </td>
      <td>Students respond to the questions and may ask their own questions
    </td>
    </tr>

    <tr>
      <td>6</td>
      <td>Assignment
    </td>
      <td>Teacher asks the students to draw a neat diagram showing ground floor and label all the important part.

    </td>
      <td>
    </tr>


  </tbody>
</table> -->


<section class="high">


<h4> TEST ON AGREGATE</h4>
<p>
<b>1)	SAND TEST:</b> The sand used for making concrete must be clean, coarse and well graded <br>
The source of sand used for making good concrete is from flowing river {clean & sharp sand}. Sea sand, flood sand and sand dug from the ground contains salt, clay salt, vegetable matters that may affect the chemical reaction of the concrete
 <br> <b>TEST ON SAND </b> <br>
<b>I.	Hand test: </b>This is carried out by rubbing the sand on your two palms. If your palms are stained, the sand contains dust and not fit for good concrete work {not clean} it is a field test. <br>
<b>II.	Silt test:</b> Is a laboratory test to determine silts on sand. AQ The test is carried out by using a glass jar. The glass jar is filled half with sand and covered with clean water. The mixture is thoroughly shaken and allowed to settle for twelve hours. The top of the glass jar is covered to prevent dust or dirty entering the jar. If the thickness of the silts or volume does not exceed one-tenth {1/10} of sand in the container, the sand may be considered suitable <br>
</p>
<p>
<b>3)	Test for organic impurities: </b>This test is a laboratory test to determine the amount of organic impurities in sand.
<br><b>4)	Bunking test:</b> It is a laboratory test carried out to know the bunking of the sand or the volume of water in wet sand. Bunking test is useful for volume batching in concreting.
	<b>Sand bulking test</b>
  <img src="econtent\week 5 img6.jpg" alt="diagram">
 <b>5)	Test for moisture content: </b>It is similar to bunking test. <br> </p>

<h4>4.	COARSE AGGREGATE TEST</h4>
<p>
The term coarse aggregate apply to the hard or solid materials which form part of the ingredients for making concrete such as gravel, crushed granites, shingle, broken bricks etc.
	For concrete work of importance, clean washed peat gravel and crushed granite should be used. All aggregates must be free from clay and splits and must be angular. The test carried out on coarse aggregate are: i) Hardness, ii) absorption.
<br>
<b>WATER:</b>
	Water is used to effect the chemical action in the cement known as hydration.
Hydration is the chemical reaction that takes place when water is added to concrete. This is due to the presence of gypsum. It is the action that makes the cement to set and harden.
	<br> For the purpose of hydration, only clean and drinkable water must be used to mix concrete ingredients.
The quality of water to be used for various mixes is controlled by water-cement ratio.
W.C =weight of water in a mix/weight of cement in a mix, is known as water-cement ratio.
<br> <br>
<b>PROPORTION OF MATERIALS:</b> <br>
	Proportioning or ratio of materials in a mix is the amount of sand to coarse aggregate and water used for each bag of cement{ volume of one bag of cement is 0.0283} For a small job, it is better to measure concrete ingredients by volume { volume
<br>
<b>MIXING OF CONCRETE:</b> <br>
	Mixing of concrete is the process of mixing concrete ingredients together to produce a workable mix. A workable mix is a concrete mixture that can be transported, placed and compacted to produce a durable concrete free from segregation and honey comb
	There are two methods of mixing concrete: <br>
i.	Hand mixing <br>
ii.	Machine mixing <br>
<br> 1)	Hand mixing: it is known as manual mixing. It is carried out on a hard concrete surface known as bunker or modes well jointed platform. The tools needed for hands mixing are water can, or buckets, shovels, head pans or gauge boxes.
<br>
<b>PROCESS FOR MIXING</b> <br>
	The required volume of sand is measured first on the bunker and spread with shovel. The required bag of cement is spread over the sand.
	The sand and the cement are totally mixed together with shovel by the labourer till the dry mixture looks dry green or grey.
	The required quantity of gravel measured and placed over the sand and cement spread over. Water is added, the mixture is properly mixed together with shovel to produce a wet concrete {green} only the required quantity of water should be added to produce a workable mix.

<b>2)	Mechanical mixing:</b>
This is known as mechanical mixing. These methods make use of concrete mixers of various types such as <br>
I.	Tinting drum mixers <br>
II.	Non-tinting drum mixers <br>
III.	Tractor mounted concrete mixers <br>
IV.	Central plant {continuous } mixer <br>
i)	Tinting drum mixers: It has a single compartment drum with one opening and rotating on an inclined axis.<br>
ii)	Non- tinting drum mixers: It has a single compartment drum having two openings and rotating on an horizontal a six <br>
iii)	Tractor mounted concrete mixers: It has a single compartment drum with one opening. <br>This mixer is mounted on a driven tractor. <br>
The entire mixer has steep blades inside the drum that mix the concrete ingredient when it rotates as the engine is put on.
To add cement or sand adhering to drum of the mixer, little water is first put inside the drum followed by cement sand gravel and the remaining required water.
The mixing time recommended must be observed in machine mixing.
<img src="econtent\week 5 img001.jpg" alt="diagram">
<img src="econtent\week 5 img002.jpg" alt="diagram">


<br>  <br>
 <b>TESTS ON CONCRETE</b> <br>
	Tests are carried out on fresh concrete and harden concrete to determine <br>
I.	Water content in a wet concrete <br>
II.	Workability of the concrete <br>
III.	Strength of a hardened concrete <br>
<br>
<b>i)	Slump test:</b> <br>
•	A slump test verifies the consistency of concrete, <br>
•	Slump is a measurement of concrete’s workability, or fluidity <br>
•	It’s an indirect measurement of concrete’s quality. <br>
<br>•	It’s a measurement for consistency, both from a quality-control perspective and to determine how fluid or stiff a material is.
<br>•	Slump is a test for the rigidity of uncured concrete. Lower slump concrete is very stiff, and higher slump concrete is more fluid.
<br>The water content {amount of quantity} of water in a wet concrete can be compared and controlled by making slump test. The test is carried out when the concrete is fresh or green during mixing.
<br><br>
<img src="econtent\week 5 img7.jpg" alt="diagram">
<br>
The apparatus needed are; <br>
a.	Slump cone <br>
<br>b.	Priming/ Tamping rod
<br>c.	Slump plate
<br>d.	The measuring ruler
<br>e.	Scoop {a tool like a large spoon with a deep bowl, used for picking up substances}.
</p>
<p>
<b>Method of carrying out the test:</b> <br>
	The cone is placed on a hard surface or floor. It is filled with the concrete in four stages with the wet concrete.
At each stage, the concrete is compacted with the priming rod 25 times. At the final stage the surface is leveled.<br>
	The cone mould is immediately lifted vertically and placed inverted beside the concrete which has settled or slumped depending on the meters of the mix.
The amount of slump or settlement is measured in millimeter and is known as the slump. The test is carried on three mixes with different amount of water.
</p>
</p>

<img src="econtent\week 5 img8.jpg" alt="diagram">

<h4>TYPES OF SLUMP</h4>
<p>
<b>A)	True slump: this is a slump with good amount of water content in the mix <br> <br>
B)	Share slump: it has inadequate water in the mix <br> <br>
C)	Collapse slump: has too many water in the mix. </b>
<br>
<img src="econtent\week 5 img9.jpg" alt="diagram">
<br>

<b>Slum cone and pruning rod





	Shear slump

<img src="econtent\week 5 img10.jpg" alt="diagram">
<br>
  collasp slum
<img src="econtent\week 5 img11.jpg" alt="diagram">


<img src="econtent\week 5 img12.jpg" alt="diagram">
<img src="econtent\week 5 img13.jpg" alt="diagram"> <br>
  True slump
</b> <br>
<br>

The use of admixtures: ‘fix the mix’, they are designed to restore loads of concrete that might otherwise be rejected and to improve the performance of problem concrete by modifying its characteristics and enhancing workability.
<b>Advantages of admixtures:</b> <br>
I.	To ensure the best finished project <br>
III.	Temporarily makes concrete more fluid, allowing integral colour to disperse much better <br>
IV.	Improve the strength <br>
V.	Reduce bleed water, resulting in fewer shrinkage cracks and more evenly coloured surface <br>
VI.	Improves cohesiveness and reduces concrete segregation <br>
VII.	Allows for the option of adding less water, creating a stronger concrete overall <br>
VIII.	They can fix concrete that is not quite what you ordered and they also can fill in when crew is shorthanded or limited. <br>

<b>CUBE TEST {Compression test}</b> <br>
	The commonest test on hardened concrete is cube test. The test is carried out  for the fact that concrete is weak in tension but very strong in compression. Concrete cubes are tested for their compression strength to improve on the tension, reinforcement bars are introduced to concrete at the base.

<br>
<img src="econtent\week 5 img14.jpg" alt="diagram">
Cube mould-box and rammer      <br>

<br>
<img src="econtent\week 5 img15.jpg" alt="diagram"> <br>
 compression testing machine for cubes & enlarged view showing pyramidal			                              fracture of a cubes
<br>
<br>
	To perform the compression test, an iron mould-box of cubical shape is used to cast the specimen. It is usual to cast three samples at a time. One is being tested in three days, another 7 days or 21 days, 28 days.
The crushing strength at each day is recorded. <br>
	To carry out the test, concrete sample is taken from the mix and placed inside the mould in three layers. Each layer is well rammed or compacted with steel ramming bar. After 24 hours the cubes are removed from the moulds and stored in a water tank till it will be tested.
<br>	They are tested on their sides in a compression- testing machine making sure the cube breaks and the reading are recorded.
	<br>This test is used for mix design.
  </p>

</section>


<br><br><br>


<h2>Exercise:</h2>
<p>1.	Explain two properties of cement <br>
2. List and explain the component of cement <br>
3. Explain test on concrete and cement <br>
4. Difference between test on concrete and cement</p> <br>


<br><br><br>



<button class="button" name="button"><a href="/appendix">Home</a></button>




<button class="bttn" type="button" name="button"><a href="/weekfour">Prev</a></button>
<button class="btnn" type="button" name="button"><a href="/appendix">Home</a></button>


  </body>
</html>
