<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>E-Content</title>
    <link rel="stylesheet" href="css/master.css">
    <link rel="icon" href="econtent/Web03-1.JPG">
  </head>
  <body>
    <h1>WEEK ONE</h1>
    <h2>TOPIC: EXCAVATION</h2>
    <h2>CLASS: SS2</h2>
    <h2>DATE:</h2>
    <h2>DURATION: 80 MINUTES</h2>
    <h2>SPECIFIC INSTRUCTIONAL OBJECTIVES: At the end of the lesson, the students should be able to </h2>
<ol>
  <li>Identify the various types of soil.</li>
  <li>State the properties and characteristics of soil.</li>
  <li>Explain Excavation and its functions.</li>
  <li>Outline methods of Excavation and the various tools used for Excavation.</li>
  <li>Suggest solutions to Excavation problems.</li>
</ol>

<h2>PREVIOUS KNOWLEDGE:  students have learnt the principle of excavation in ss1</h2>
<h2>Instructional Materials: video text and computer</h2>
<h2>Play Audio:</h2>
<audio controls >
  <source src="econtent/EXCAVATION TWO.m4a" />
</audio>
<h2>Instructional Procedure: </h2>

<!-- <table>
  <thead>
    <tr>
      <th>Step</th>
      <th>Contents</th>
      <th>Teacher’s activity</th>
      <th>Student’s activity</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1</td>
      <td>Types of soil </td>
      <td> Teacher identifies types of soil
        <br>
a.	Clay soil <br>
b.	Sandy soil <br>
c.	Silt soil <br>
d.	Made-up soil <br>
e.	Gravel/stony soil <br></td>
      <td>Identify types of soil</td>
    </tr>
    <tr>
      <td>2</td>
      <td>Properties and classification of soil </td>
      <td> Provide soil samples for visual identification and classification</td>
      <td>State the properties and characteristics of soil</td>
    </tr>
    <tr>
      <td>3</td>
      <td>Definition and functions of excavation </td>
      <td>Define excavation:  as process of cutting down the ground for a particular possess</td>
      <td>Students repeat and define it in another forms</td>
    </tr>

    <tr>
      <td>4</td>
      <td>Methods and tools used in excavation <br>
•	Manual diggers, Shovels, Head pans, etc
Mechanical: Bull dozer, Drag line, etc
 </td>
      <td>Visit construction site to witness excavation process and nature of soil excavated.
Select tools and excavate such as:
Manual diggers, Shovels, Head pans, pick axe, spade <br>
Mechanical: Bull dozer, Drag line, backeter
</td>
      <td>Visit construction site.
Select tools and excavate.
</td>
    </tr>

    <tr>
      <td>5</td>
      <td>Problem of excavation
    </td>
      <td>Teacher asks the following questions: <br>
•	List three types of soil and state their properties <br>
•	Define excavation <br>
•	Sketch tools used for excavation <br>


    </td>
      <td>Students listen and answer  questions accordingly
    </td>
    </tr>

    <tr>
      <td>6</td>
      <td>Assignment
    </td>
      <td>Teacher asks the students to draw two excavation plant and list problems associated to lose ground during excavation.

    </td>
      <td>Write down the questions and may ask teacher questions for more clarity.
    </td>
    </tr>


  </tbody>
</table> -->

<section class="sectionone">
  <button class="button" name="button"><a href="/appendix">Home</a></button>
  <h4>DEFINITION OF EXCAVATION</h4>
  <p>Excavation the process of cutting down the ground for a particular purpose, before we go into the excavation we must understand the nature of the soil we are dealing with.</p>
<h4>TYPES OF SOIL AND ROCKS:</h4>
<p>{i} Rocks: These embrace granite, stone, shale’s, hard solid chalk </p>
<p>{ii} Cohesive soil : These are soil that have soil particles stick together  such as stiff builder clay, sand clay, firm clays etc.
The degree of cohesion depends upon the size and shape of the particles and the water content. Clay soil is subject to shrinkage and cracking in hot dry weather.
They change in volume according to their water content. Adequate precautions should be taken when building on these soils to avoid such movement which may cause damage to buildings. On shrinkage soils, it is recommended that the foundations of external walls should be of at least 850mm deep or be of pile and beam type or of raft construction.
</p>   <p> {iii} Non-cohesive soils: Includes gravels and sands.
The soil has no plasticity and tends to lack cohesion especially when the soil is divided into: <br>
{a} Compact well graded sands and gravel sand. <br>
{b} Loose well graded sands and gravel sands <br>
{c} Compact uniform sands. <br>
{d} Loose uniform sand. <br> </p>
	<p>A deep bed of dry compact gravel provided an excellent supports but a subsoil of loose uniform sand may develop considerable settlement when loaded.
A building before erection on a loose sand must be provided with either with wide strip foundation or Raft foundation to ensure that any settlement is uniform.
<p>{e} Peat soil: This is made up of decayed vegetable matter. It is highly compressible and quite unstable to received foundation, even those of light structures. If such a site must be used for a building project it is necessary to support that foundation on Piles which are driven to an underlying firm structure
</p> <p>{f} Made ground: A made ground artificially form by filling a depression with excavation soil or refuse such a site should be avoided. If such a site must be used for building purposes the foundation should be carried down to the original status or be supported on piles.
 </p>

 <p>Concept of excavations: When earth has been excavated to a considerable depth the vertical faces of the excavations need supporting by means of timber, to prevent the soil from falling in and injuring the workmen or the work upon which they are engaged.
The strength of the timbering used for this purpose necessarily depends upon the nature of the soil, the depth of the excavations, and the length of time it is likely to be kept open.
</p>
<h4>METHODS OF EXCAVATION: </h4>
<p style="text-align: left">There are two method of excavating a soil </p>
<h5 style="text-align: left; padding-left: 20px;">A)	Manual method and <br>
B)	Mechanical method </h5>
<p style="text-align: left">Excavation in Firm Soil</p>
<p>Figure shows the method of timbering a trench in firm ground, in which case short deal and batten "ends," varying from 25mm by 1200 to 37mm by 225mm, and about 900mm long, called  or Poling Boards, are placed in pairs opposite one another against either side of the trench, and are held in position by means of struts. These struts, which are usually short lengths of 100mm diameter scaffold poles, or 100 by 100mm squared timbers, and cut about some mm longer than the clear distance between a pair of poling boards, are fixed in position in the following manner: One end of the strut is placed against the middle of one poling board, and the other end is swung vertically downwards against the opposite poling board, and forced tightly against it by means of a few downward taps with a mallet.
</p>
</section>
<img src="econtent\week img 1.jpg" alt="diagram">

<p>The struts should not be closer together than 1800mm; otherwise they will prove a considerable inconvenience to the workmen in the trenches.
</p>
<h4>
Excavations In Loose Soil</h4>
<p>
Should the looseness of the soil necessitate supports being fixed at closer intervals than 1800mm the system of timbering shown in Figure below should be used? In this case it will be noted that the poling boards are supported by long horizontal members about 180mm by 120mm, called Walling or Waling Pieces, which in turn are supported by struts at intervals of 1800mm.
</p>
<img src="econtent\web1.png" alt="diagram">

<p>The method of inserting the timbering shown in Figure is as follows: A short length of trench is excavated, and a pair of poling boards are placed against its sides, and strutted with a temporary strut placed about 180mm above the centre of the poling board. A little more of the trench is excavated, and the next pair of poling boards inserted. This process is continued until the trench is long enough to receive the waling pieces, which are held in position until the struts are inserted. The temporary struts are now knocked away, and one length of timbering is complete.</p>
<p>If the trenches are deep the timbering is inserted in tiers until the required depth is reached, the struts being placed vertically under one another, and at a distance of about 1800mm apart, so that stages may be supported upon them for the disposition of the excavated soil – 1800mm being the limit of depth from which an excavator can comfortably throw soil out of a trench.</p>

<br><br>
 <h4>Problems in Timbering</h4>
<p>
>Serious accidents happen from time to time owing to the failure of timbering in excavations. This failure is usually due to one of the following two reasons: -
<br> 1.	The struts fail under the pressure of the earth; <br>
To prevent such failures the timber should be of ample size, and should be examined before being inserted in the excavations, and all faulty pieces rejected; while in very deep trenches the struts in the lower parts of the trenches should be larger than those near the surface.
<br> <br>2.	The struts drop out by the shrinkage of the soil. <br>
 To prevent struts dropping out of place they should be examined from time to time and tightened when necessary; but a better plan is to spike them to the walings or to fix cleats underneath them. The struts supporting stages should always be spiked or fixed in some way, as they are very likely to become loosened by the weight and motion of the excavator, who stands upon them to work.

</p>

<h4>
Safety Precaution on Excavation</h4>
<h4>Locate utility
</h4>

<p>Provide safety controls so items cannot fall into the trench and keep materials and equipment at least 600mm from the trench sides.
</p>
<h4>TOOLS AND EQUIPMENT</h4>
<p>Excavation can be done manually using hand tools such as:<br>
a)	Pickaxe <br>
b)	Spade <br>
c)	Shovel <br>
d)	Matchet <br>
e)	Wheel barrow <br>
f)	Head pan etc</p>
<br>
<p><b>Mechanical equipment:</b> are mechanical aids in getting the excavation done with less human effort and reducing wasting of times and energy such equipment are:
</p> <p>

<p>a)	Dragline </p>
<img src="econtent\week img 3.jpg" alt="diagram">
<p>A dragline excavator is a piece of heavy equipment used in civil engineering and surface mining. In civil engineering the smaller types are used for road, port construction, and as pile driving rigs. The larger types are used in strip-mining operations to move overburden above coal, and for tar-sand mining. Draglines are amongst the largest mobile equipment ever built on land, and weigh in the vicinity of 2000 metric tonnes, though specimens weighing up to 13,000 metric tonnes have also been constructed.</p>
<p>
b)	Tractor shovel
</p>
<img src="econtent\week img 4.jpg" alt="diagram">
<p>c)	Excavator</p>
<img src="econtent\week img 5.jpg" alt="diagram">
<br>
<br>
<img class="one" src="econtent\week img 6.jpg" alt="diagram">
<img class="one" src="econtent\week img 7.jpg" alt="diagram">
<br>
<br><br><br>
<br><br>


<h2>
Exercise:
</h2>
<p>1.	Define Excavation.<br>
2.	Draw two excavation plants.<br>
3.	List problems associated to loose ground during exaction. <br>
4.	List four types of soil. <br>
5.	What is mechanical equipment and give 4 examples.</p> <br> <br><br>
<button class="bttn" type="button" name="button"><a href="/appendix">Prev</a></button>
<button class="btnn" type="button" name="button"><a href="/weektwo">Next</a></button>















  </body>
</html>
