<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>E-Content</title>
    <link rel="stylesheet" href="css/master.css">
    <link rel="icon" href="econtent/Web03-1.JPG">
  </head>
  <body>
    <body>
      <h1>WEEK FOUR</h1>
      <h2>NAME OF SCHOOL:</h2>
      <h2>TOPIC: MATERIALS FOR CONCRETE</h2>
      <h2>CLASS: SS2</h2>
      <h2>DATE:</h2>
      <h2>DURATION: 80 MINUTES</h2>
      <h2>SPECIFIC INSTRUCTIONAL OBJECTIVES: At the end of the lesson, the students should be able to </h2>
  <ol>
    <li>Define concrete</li>
    <li>Identify materials for concrete</li>
    <li>Explain concreting operations</li>
    <li>State the uses of reinforcement in concrete</li>
  </ol>

  <h2>PREVIOUS KNOWLEDGE: students have seen mansion working with concrete</h2>
  <h2>Instructional Materials: Computer, Charts, text book, pictures, gravel, sand</h2>
  <h2>Play Audio</h2>
  <audio controls>
    <source src="econtent/MATERIAL FOR CONCRETE.m4a" />
  </audio>
  <h2>Instructional Procedure: </h2>
  <table>
    <thead>
      <tr>
        <th>Step</th>
        <th>Contents</th>
        <th>Teacher’s activity</th>
        <th>Student’s activity</th>
      </tr>
    </thead>
    <tbody>
      <tr>

      <tr>
        <td>1</td>
        <td>Definition of concrete </td>
        <td>Defines  concrete</td>
        <td>State materials for concrete</td>
      </tr>
      <td>2</td>
      <td>Materials for concrete</td>
      <td>Explains materials for concrete. E.g. cement, sand and gravel, water
  </td>
      <td>List various materials for concrete work</td>
    </tr>
      <tr>
        <td>3</td>
        <td>Concreting operations</td>
        <td>List in sequence concrete operations:<br>
1.	Batching <br>
2.	Mixing (Manual & Mechanical) <br>
3.	Transporting (manual & Mechanical) <br>
4.	Placing <br>
5.	Compacting <br>
6.	Curing (methods used) <br>
</td>
        <td>State the uses of  reinforcement
Visit sites where concrete materials are deposited
</td>
      </tr>

      <tr>
        <td>4</td>
        <td>Concreting operations
Test on concrete
   </td>
        <td>Tests are carried out on fresh concrete and harden concrete to determine <br>
          I.	Water content in a wet concrete <br>
II.	Workability of the concrete (slum test) <br>
III.	Strength of a hardened concrete (cube test) <br>

  </td>

  </td>
      </tr>

      <tr>
        <td>5</td>
        <td>Evaluation
      </td>
        <td>
  Teacher to ask students questions : <br>
	• List three materials for concrete <br>
	• State two uses of reinforcement



      </td>
        <td>Students to respond to all the question in the class and also as an  assignment
      </td>
      </tr>

      <tr>
        <td>6</td>
        <td>Assignment
      </td>
        <td>Students to answer all the stated question above

      </td>
        <td>Students to work on the assignment and submit same to the teacher as directed
      </td>
      </tr>


    </tbody>
  </table>



<button class="button" name="button"><a href="/appendix">Home</a></button>








  <button class="bttn" type="button" name="button"><a href="/weekthree">Prev</a></button>
  <button class="btnn" type="button" name="button"><a href="/weekfive">Next</a></button>
  </body>
</html>
