<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>E-Content</title>
    <link rel="stylesheet" href="css/master.css">
    <link rel="icon" href="econtent/Web03-1.JPG">
  </head>
  <body>
    <h1>WEEK TWO</h1>
    <h2>NAME OF SCHOOL:</h2>
    <h2>TOPIC: FOUNDATION</h2>
    <h2>CLASS: SS2</h2>
    <h2>DATE:</h2>
    <h2>DURATION: 80 MINUTES</h2>
    <h2>SPECIFIC INSTRUCTIONAL OBJECTIVES: At the end of the lesson, the students should be able to </h2>
<ol>
  <li> Define foundation</li>
  <li>State  the purpose of foundation.</li>
  <li>Explain functional requirement of foundation.</li>
  <li>Describe the various types of foundation.</li>
  <li>Explain factors that determine choice of foundation.</li>
</ol>

<h2>PREVIOUS KNOWLEDGE: students have seen builders working on foundation around the school and at homes.</h2>
<h2>Instructional Materials: Models, sketches and diagrams of foundation, also video text and computer</h2>
<h2>Play Audio</h2>
<audio controls>
  <source src="econtent/FOUNDATION.m4a" />
</audio>
<h2>Instructional Procedure: </h2>

<!-- <table>
  <thead>
    <tr>
      <th>Step</th>
      <th>Contents</th>
      <th>Teacher’s activity</th>
      <th>Student’s activity</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1</td>
      <td>Definitions and purpose of foundation</td>
      <td>Teacher defines foundation and explains the purpose of foundation.
Foundation of a building is that part of the building that carries the total weight of the building without displacement
</td>
      <td>Define foundation</td>
    </tr>
    <tr>
      <td>2</td>
      <td>Functional requirement of foundation </td>
      <td> State the functional requirements of foundation</td>
      <td>State the functional requirements of foundation</td>
    </tr>
    <tr>
      <td>3</td>
      <td>Types of foundation e.g.  pad, strip, raft and pile</td>
      <td>Draw different types of foundation</td>
      <td>Students sketch different types of foundation</td>
    </tr>

    <tr>
      <td>4</td>
      <td>Factors that determine choice of foundation
 </td>
      <td>List and explain factors that determine types of foundation and make model of each types of foundation
</td>
      <td>Write all the factors explained by the teacher
</td>
    </tr>

    <tr>
      <td>5</td>
      <td>Evaluation
    </td>
      <td>Teacher ask students the following questions:<br>
•	Define foundation <br>
•	List and sketch two types of foundation <br>
•	Explain two factors that determine choice of foundation <br>
•	State four functional requirements of foundation <br>


    </td>
      <td>Students answer the questions as they were being pointed to and also complete their note.
    </td>
    </tr>

    <tr>
      <td>6</td>
      <td>Assignment
    </td>
      <td>students to read more on the topic as we continue next week.

    </td>
      <td>Students read more and form their notes.
    </td>
    </tr>


  </tbody>
</table>
 -->

<section   >

<h4>  DEFINITION OF FOUNDATION:</h4>
	<p>Foundation is define as that part of a building or structure which has direct contact with the ground in which the loads are transmitted and also bears all the imposed loads of the structure
</p>
<h4>TYPES OF SOIL AND ROCKS:</h4>
<p>{i} Rocks: These embrace granite, stone, shale’s, hard solid chalk <br>
{ii} Cohesive soil : These are soil that have soil particles stick together  such as stiff builder clay, sand clay, firm clays etc.<br>
	The degree of cohesion depends upon the size and shape of the particles and the water content. Clay soil is subject to shrinkage and cracking in hot dry weather.
They change in volume according to their water content. Adequate precautions should be taken when building on these soils to avoid such movement which may cause damage to buildings. On shrinkage soils, it is recommended that the foundations of external walls should be of at least 850mm deep or be of pile and beam type or of raft construction.
<br>{iii} Non-cohesive soils: Includes gravels and sands.<br>
The soil has no plasticity and tends to lack cohesion especially when the soil is divided into:<br>
{a} Compact well graded sands and gravel sand.<br>
{b} Loose well graded sands and gravel sands <br>
{c} Compact uniform sands. <br>
{d} Loose uniform sand. <br>
	A deep bed of dry compact gravel provided an excellent supports but a subsoil of loose uniform sand may develop considerable settlement when loaded.
A building before erection on a loose sand must be provided with either with wide strip foundation or Raft foundation to ensure that any settlement is uniform.
<br>{e} Peat soil: This is made up of decayed vegetable matter. It is highly compressible and quite unstable to received foundation, even those of light structures. If such a site must be used for a building project it is necessary to support that foundation on Piles which are driven to an underlying firm structure
<br>{f} Made ground: A made ground artificially form by filling a depression with excavation soil or refuse such a site should be avoided. If such a site must be used for building purposes the foundation should be carried down to the original status or be supported on piles. 	Foundation is define as that part of a building or sub- structure which has direct contact with the ground and in which the loads are transmitted to the soil and distribute same to the soil evenly without displacement.
</p>

<p>Bearing capacity of a soil: is the amount of load a soil can carry without displacement.</p>
The bearing capacity of a soil can be determined by soil investigation and report from those that have built on such land.
<h4>PURPOSE OF FOUNDATION:</h4>
<p>The purpose of foundation in a building is to sustain the dead and live or imposed loads and to transmit those to the ground in such a way that the pressure on it will not cause settlement which would impair the stability of the building or adjuring structures.
There are many types of foundation. Differing ground conditions, proximity of trees, backfilled land, soil types, proximity of drains, wind speeds, all dictate the form our foundation work will take. A strip foundation is quite simply a strip of concrete place in a trench. The absolute minimum thickness of this strip is 150mm.
Please note that all of the loading figures given here may not apply to your project and should be checked by an architect on site. Soil samples and tests may be necessary.
The building regulations give a clear list of rules under which strip foundations are suitable. This is conditional upon the walls the foundations support, are placed centrally on their respective strip of concrete.
<br> <br> a) There is no "made" ground (imported soil etc) or wide soil strength variation in the loaded area (floor area of the construction or "load") or weak soil patches likely to cause foundation failure.
<br>b) The width of the foundation strip is in accordance with Table 12 of approved document A1/2 in section E1 of the building regulations. (This table can be found below)
<br>c), d) & e) deal with the chemicals in the soil and the British Standards that the concrete should meet to be approved in these conditions. We will deal with this later.
<br>f) The concrete strip thickness is equal to or greater than the projection from the wall face, and never less than 150mm.
<br>g) The upper level of a stepped foundation overlaps the lower level by twice the height of the step, by the thickness of the foundation or by 300mm. whichever is the greater.
<br>h) The height of the step is not greater than the thickness of the foundation.
<br>I) The foundation strip projects beyond the faces of any pier, buttress or chimney forming part of a wall by at least as much as it projects beyond the face of the wall proper.
</p>
<p>
<b>DEAD LOAD:</b> This is the force attributed to the total structural mass of the building as mentioned above, roof etc. This will be the weight of all the materials multiplied by 9.81 to give Newton's.
IMPOSED LOAD: This is the force that will be imposed on the property in the way of people, furniture and fittings. The loading of snow (snow load) will come into this category and an allowance for this in all foundation design will be included in the calculations. Generally, for the design purpose of domestic properties, 1.5 kN/square metre is allowable and a snow loading of the same amount is applied to flat roofed buildings, while on roofs pitched over 30 degrees an allowance of 0.75kN/square metre is normally made.</p>
<p><b>WIND LOAD:</b> There are so many variables here it would take forever to explain the calculations. If you are dedicated enough to want to know, the "dynamic force" calculations can be found in BS CP3, Chapter 5 Part 2 (1972). For our purposes, and assuming the build to be of relatively low rise, in a normal, reasonably sheltered environment, a figure of 1 kN/ square metre is acceptable.
</p>

<p>Site Investigation -

To select a foundation from tables, or to design a foundation, it is necessary to calculate the loads on the foundation and determine the nature of the subsoil, its bearing capacity, it’s likely behaviour under seasonal and ground water level changes and the possibility of ground movement. Where the nature of the subsoil is known from geological surveys, adjacent building work or trial pits or borings and the loads on foundations are small, as for single domestic buildings, it is generally sufficient to excavate for foundations and confirm, from the exposed subsoil in the trenches, that the soil is as anticipated.
</p>

<h4>FUNCTIONAL REQUIREMENT OF FOUNDATION</h4>
<p>1)	Bears the load of the building <br>
2)	Transmit the load to the ground <br>
3)	Eliminate settlement by even distribution of load <br>
4)	Carries the dead and live load of the building <br>
5)	Support the building.</p>
<img src="econtent\week 2 img 1.jpg" alt="diagram">





<h4>TYPES OF FOUNDATION:</h4>
<p>

There are four major types of foundation, and the choice of foundation is determined by the nature of the soil and the bearing capacity of the soil.
<br>
<br>{a} Strip foundation:
</p>

<h4 style="color: blue">TABLE 12 Minimum width of strip foundations</h4>
<table class="two" style="color: blue;   border: 1px solid blue;">
  <thead>
    <tr>
      <td>(1)<br>Type of subsoil
</td>
<td>(2)<br>
Condition of subsoil
</td>
<td>(3)<br>
Field test applicable

</td>
<td>(4)
Minimum width in mm for total load in kN/m offload bearing wall of not more than
20kN/m 30kN/m 40kN/m 50kN/m 60kN/m 70kN/m
</td>
    </tr>
    <tr>
    <td>Rock</td>
    <td>Not inferior to sandstone, limestone or firm chalk.</td>
    <td>Requires at least a pneumatic or other mechanically operated pick for excavation</td>
    <td>In each case equal to width of wall</td>
    </tr>
    <tr>
    <td>Gravel sand</td>
    <td>Compact Compact .</td>
    <td>Requires pick for excavation.Requires pick for excavation. Wooden peg, 50mm square hard to drive in beyond 150mm. </td>
    <td>250 300 400 500 600 650</td>
    </tr>

    <tr>
    <td>Clay Sandy clay</td>
    <td>Stiff </td>
    <td>Cannot be moulded with fingers, requires pick/pneumatic/mechanical spade for removal.</td>
    <td>250 300 400 500 600 650 </td>
    </tr>


    <tr>
    <td>Clay Sandy clay</td>
    <td>Firm  </td>
    <td>Can be moulded by substantial pressure with the fingers and hand dug with graft or spade.</td>
    <td>300 350 450 600 750 850 </td>
    </tr>

    <tr>
    <td>Sand Silt/sand Clay/sand</td>
    <td>Loose </td>
    <td>Can be excavated with a spade. Wooden peg 50mm square can be easily driven.</td>
    <td>400 600 Must be specified or designed.</td>
    </tr>

    <tr>
    <td>Silt Clay Sandyclay Silt/clay </td>
    <td>Soft </td>
    <td>Fairly easily moulded in the fingers and readily excavated.</td>
    <td>400 650 Must be specified or designed.</td>
    </tr>

    <tr>
    <td>Silt Clay Sandy clay Silt/clay</td>
    <td>Very soft  </td>
    <td>Natural sample, in winter conditions, exudes between fingers when squeezed in fist.</td>
    <td>600 850 Must be specified or designed.</td>
    </tr>

    <tr>
    <td>Sand Silt/sand Clay/sand</td>
    <td>Loose </td>
    <td>Can be excavated with a spade. Wooden peg 50mm square can be easily driven.</td>
    <td>400 600 Must be specified or designed.</td>
    </tr>
  </thead>
</table>



<h4>Pad foundations.</h4>

<p>
  On made up ground and ground with poor bearing capacity where a firm, natural bed of, for example, gravel or sand is some few metres below the surface, it may be economic to excavate for isolated piers of brick or concrete to support the load of buildings of some four storeys in height. The piers will be built at the angles, intersection of walls and under the more heavily loaded wall such as that between windows up the height of the building.

Pits are excavated down to the necessary level, the sides of the excavation temporarily supported and isolated pads of concrete are cast in the bottom of the pits. Brick piers or reinforced concrete piers are built or cast on the pad foundations up to the underside of the reinforced concrete beams that support walls as illustrated in Fig. 11. The ground beams or foundation beams may be just below or at ground level, the walls being raised off the beams.

The advantage of this system of foundation is that pockets of tipped stone or brick and concrete rubble that would obstruct bored piling may be removed as the pits are excavated and that the nature of the subsoil may be examined as the pits are dug to select a level of sound subsoil. This advantage may well be justification for this labour intensive and costly form of construction.
</p>

<img src="econtent\week 2 img 2.jpg" alt="diagram">
<h4>Fig. showing Pad foundation.</h4>
<p>
These are isolated foundation to support columns. The pad foundation is usually reinforced with steel bars.
</p>
<h4>Raft Foundation:</h4>
<p>Raft foundation.</p>
<p>Raft foundation are required on soil of low bearing capacity, or where structural column or other loads areas are so close in both direction that individual pad will nearly touch each other. The function of raft foundation are to spread the load over as wide an area as possible, and to give a measure of rigidity to the sub-structure to enable it to bridge over local areas of weaker or more compressible soil. The degree of rigidity given to the raft also reduces differential settlement. It is useful in reducing different settlement on variable soils or there is a wide variation in loading and adjacent column or other applied loads.
</p>
<p>
A raft foundation consists of a raft of reinforced concrete under the whole of a building. This type of foundation is described as a raft in the sense that the concrete raft is cast on the surface of the ground which supports it, as water does a raft, and the foundation is not fixed by foundations carried down into the subsoil.
</p> <p>
Raft foundations may be used for buildings on compressible ground such as very soft clay, alluvial deposits and compressible fill material where strip, pad or pile foundations would not provide a stable foundation without excessive excavation. The reinforced concrete raft is designed to transmit the whole load of the building from the raft to the ground where the small spread loads will cause little if any appreciable settlement.
The two types of raft foundation commonly used are the flat raft and the wide toe raft.
</p>
<p>
The flat slab raft is of uniform thickness under the whole of the building and reinforced to spread the loads from the walls uniformly over the under surface to the ground. This type of raft may be used under small buildings such as bungalows and two storey houses where the comparatively small loads on foundations can be spread safely and economically under the rafts.
The concrete raft is reinforced top and bottom against both upward and downward bending. Vegetable top soil is removed and a blinding layer of concrete 50 mm thick is spread and levelled to provide a base on which to cast the concrete raft. A waterproof membrane is laid, on the dry concrete blinding, against moisture rising into the raft. The top and bottom reinforcement is supported and spaced preparatory to placing the concrete which is spread, consolidated and finished level.
</p><p>
When the reinforced concrete raft has dried and developed sufficient strength the walls are raised as illustrated in Fig. 12. The concrete raft is usually at least 150 mm thick.
<p>
<img src="econtent\week 2 img 3.jpg" alt="diagram">
<h4>Fig. 12 Flat slab raft.</h4>

<p>The concrete raft may be at ground level or finished just below the surface for appearance sake. Where floor finishes are to be laid on the raft a 50 mm thick layer of concrete is spread over the raft, between the walls, to raise the level and provide a level, smooth finish for floor coverings. As an alternative a raised floor may be constructed on top of the raft to raise the floor above ground.  A flat slab recommended for building in areas subject to mining subsidence is similar to the
flat slab, but cast on a bed of fine granular material 150 mm thick so that the raft is not keyed to the ground and is therefore unaffected by horizontal ground strains.
</p><p>
Where the ground has poor compressibility and the loads on the foundations would require a thick, uneconomic flat slab, it is usual to cast the raft as a wide toe raft foundation. The raft is cast with a reinforced concrete, stiffening edge beam from which a reinforced concrete toe extends as a base for the external leaf of a cavity wall as shown in Fig. 13. The slab is thickened under internal load bearing walls.

Vegetable top soil is removed and the exposed surface is cut away to roughly form the profile of the underside of the slab. As necessary 100 mm of hardcore or concrete is spread under the area of the raft and a 50 mm layer of blinding concrete is spread, shaped and levelled as a base for the raft and toes. A waterproof membrane is laid on the dried concrete blinding and the steel reinforcement fixed in position and supported preparatory to placing, compacting and levelling the concrete raft.

The external cavity and internal solid walls are raised off the concrete raft once it has developed sufficient strength. The extended toe of the edge beam is shaped so that the external brick outer leaf of the cavity wall is finished below ground for appearance sake. A floor finish is laid on 50 mm concrete finish or a raised floor constructed.
</p>
<img src="econtent\week 2 img 4.jpg" alt="diagram">
        <h4> Fig 13 the wide toe raft</h4>
<h4>Typical use</h4>
<p>Rafts are used to bridge over soft spots if the the spots are very localised and to reduce the average pressure applied to the soil. Raft foundation can be used as a matter of constructional convenience in structure supported by a grid of fairly closed spaced columns. In such case, an overall raft will avoid obstruction of the site by a number of a individual excavation with their associated heaps of spoil. Some designer work on the rule that if more than 50% of the area of the structure is occupied by individual pad or strip foundation it will be more economical. Normally built at for support construction at low bearing capacity such as abandon mining site or at the slopping site which are refilled or not.
<h4>Advantages</h4>
<p>It may be more economical to excavate the site to a level formation, construct individual close spaced pad foundation and then refill them. Basement with stiff slab or slab and beams floors are forms of foundation rafts; these and the special case of buoyancy rafts. Design of raft to counteract the effect of mining subsidence. The structure can protect the structure from failure if there is settlement or movement of the soil base because the raft base can hold the super structure. So it suitable for soil such as abandon mining site .</p>
<h4>Disadvantage</h4>
<p>A lot of concrete inquired for base at the low density capacity soil by adding the thickness of the base. The footing should construction on 150mm filled sand to avoid racking from horizontal raft footing should increase by construction side beam reinforcement increase the depth of raft wasn’t give an efficient increase of foundation strength
</p>

<h4><b>Pile Foundation:</b></h4>
<p>These are employed where the under laying stratum of soil is weak and of considerable depth, pile foundation is of two types:
<br>{a} The cast-in-situ: done by driving open tubes into the sub soil within the tube reinforcing rods and then placed in portion in the tube and then filled with concrete.
<br>{b} Precast Pile foundation:  Formed by driving in precast poles into the weak strata of sub-soil. The precast poles are cast in various sizes and driven with mechanical hammer into the soil.
</p>



 <h4>FACTORS INFLUENCING CHOICE OF FOUNDATION</h4><p>
   <br>
i. Nature and type of soil <br>
ii. Nature and types of structure <br>
iii. Ground movement <br>
iv. Proximity to existing structure. <br>
v. Load coming on the soil <br>
vi.Nature and type of soil: <br>
The type of foundation is determined by the soil. Different soil types have various bearing capacity and it is required that the sub-soil and its parameters would have to be studied.
<br>
<b>Nature of the structure:
</b> <br>

<button class="buttonx" name="button"><a href="/appendix">Home</a></button>
<p>The rigidity and flexibility of the structure affect largely the type of foundation to be constructed. <br>
 The amount of settlement of a building is taken into consideration when choosing the type of foundation. The occurrence of settlement result in cracking on the building and differential settlement result on distortion and separation which beams and column on the building
 The choice of the foundation depends largely on the consequences on the neighboring buildings and the cost of providing shares to the existing buildings should be considered when selecting the types of foundation.
</p>
 </p>

 <br>
 <h2>Exercise:
</h2>

<p>1.	Define foundation.<br>
2.	List and sketch two types of foundation <br>
3.	Explain two factors that determine choice of foundation <br>
4.	State four functional requirements of foundation <br>
5.	List and explain four factors affecting the choice of foundation</p> <br>

</section>


<button class="bttn" type="button" name="button"><a href="/weekone">Prev</a></button>
<button class="btnn" type="button" name="button"><a href="/weekthree">Next</a></button>

















  </body>















</html>
